{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Login Here
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}


<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}?v=1">

<div class="overall-wrap">

    <div class="img-responsive-wrap">
        <img src="{{ MEDIA_URL }}images/aplusedu-icon.png" class="img-responsive" />
    </div>

    <div class="form-div">
        
        <form method="POST">
            {% csrf_token %}
            

            {{form|crispy}}
            <p>Don't have an account? Create one <a href="/register/">here</a></p>
            <button type="submit" class="btn btn-success">Login</button>
            
        </form>
    </div>
</div>

{% endblock %}