[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
channels = "*"
channels-redis = "*"
redis = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-crispy-forms = "*"
django-bootstrap4 = "*"
crispy-bootstrap4 = "*"
pillow = "*"
mysqlclient = "*"
django-on-heroku = "*"
daphne = "*"
gunicorn = "*"
django-storages = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.8"
