{% extends 'main/base.html' %}

{% block title %}
{{ student.name }}
{% endblock %}

{% block content %}

    <h1>{{ student.name }}</h1>
    <p>{{ student.level }}</p>
    <p>
        {% for x in student.subject_set.all %}
            {{ x.subject }} | 
        {% endfor %}
    </p>
    <a href="/student/{{ student.id }}/tutor_list">Look for a Tutor!</a>


    <h2>My allocations!</h2> 
    <div class="welcomeButtons">
        {% for booked_slot in bslot_list.all %}
            <table>
                <tr>
                    <p>
                        {{ booked_slot.time_slot.user.username }}, {{ booked_slot.subject_and_level.subject }} | Day: {{ booked_slot.day }} {{ booked_slot.start_time }} - {{ booked_slot.end_time }} ({{ booked_slot.status }}) 
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="booked_slot_id" value="{{ booked_slot.id }}">
                            <button type="submit" name="delete" value="delete">delete</button>
                        </form>
                    </p>
                </tr>
            </table>
       {% endfor %}
    </div>

{% endblock %}