{% extends 'main/base.html' %}

{% block title %}
Find a tutor!
{% endblock %}

{% block content %}
    <h1>Generated tutor list</h1> 
    <div class="welcomeButtons">
        
        {% for subject, tutors in tutor_list.items %}

            <h2>{{ subject }}:</h2>

            {% for tutor in tutors %}
                <p>
                    {{ tutor.username }}
                    {% for timeslot in tutor.dayandtime_set.all %}
                        {{ timeslot.day }} : {{ timeslot.start_time }} - {{ timeslot.end_time }} 
                    {% endfor %}
                </p>
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="hidden" name="tutor_id" value="{{ tutor.id }}">
                    <input type="hidden" name="subject" value="{{ subject }}">
                    <button type="submit">Request</button>
                </form>
            {% endfor %}

        {% endfor %}
    </div>

{% endblock %}