
@import 'react-big-calendar/lib/sass/styles';

/* hide all day row */
.rbc-allday-cell {
    display: none;
  }

.rbc-today {
    background-color: inherit;
}

.rbc-day-slot .rbc-time-slot {
    border-top: 1px solid #bebebe;
}

.rbc-day-slot .rbc-background-event {
    background-color: rgba(0, 255, 0, 0.712);
}



.rbc-day-slot .rbc-event, .rbc-day-slot .rbc-background-event {
    border: 1px solid rgb(0, 0, 0)
}

.rbc-time-slot {
    font-size: 18px;
    text-align: center;
}
.rbc-timeslot-group {
    border-bottom: 1px solid #000000;
}

.rbc-event-label, .rbc-event {
    width: 100%; 
}

.rbc-day-slot, .rbc-time-column {
    border-right: 1px solid black;
}

.rbc-header {
    border-right: 1px solid black;
}
.rbc-header span{
    font-size: 18px;
}

.rbc-day-slot .rbc-selected.rbc-event {
    background-color: rgba(255, 0, 242, 0.432);
}

.rbc-calender {
    margin-right: 20px;
}

