html {
  background: url(https://wallpapersmug.com/download/1366x768/280b25/horizon-sunset-mountains-dark.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Open Sans';font-size: 22px;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* The side navigation menu */
.topnav {
  background-color: #00013b; /* Black*/
  height: 50px;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  display: flex;
  justify-content: space-between;
}

.topnav ul {
  margin: 0;
}
.topnav ul li {
  list-style-type: none;
  display: inline-flex
}
.topnav a {
  padding: 10px 25px;
  text-decoration: none;
  font-size: 22px;
  color: #ffffff;
  transition: 0.3s;
}
.topnav-right .link-wrap {
  margin: 10px;
}


.topnav-left a:hover {
  color: #00eeff;
  background-color: white;
}

.topnav a.current {
  color: #ffffff;
  background-color: rgb(0, 153, 255);
}

.container {
  border-radius: 5px;
  max-width: 1400px;
  min-height: 720px;
  max-height: 800px;
  margin: auto;
  margin-top: 15px;
  padding: 30px;
  text-align: center;
  position: relative;
  background-color: rgba(255, 255, 255, 0.753);
}

.btn-small {
  display: inline-block;
  border-radius: 4px;
  background-color: #0084ff;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  padding: 10px 20px;
  
  transition: all 0.5s;
  cursor: pointer;
  margin: auto 5px;
  height: 40px;
}
.btn-red {
  background-color: red
}
.btn-green {
  background-color: green
}
.btn-yellow {
  background-color: #ff9100
}

.btn-small:hover {
  background-color: #00b7ff;
  color: white;
}
.btn-red:hover {
  background-color: #ff6c6c;
  color: white;
}
.btn-green:hover {
  background-color: #07c700;
  color: white;
}
.btn-yellow:hover {
  background-color: #ffb67a;
  color: white;
}

.btn-small:focus {
  outline: none;
}

.btn-subject {
  display: inline-block;
  border-radius: 4px;
  background-color: #ff00b3;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn-subject:hover {
  background-color: #ff59d6;
  color: white;
}

.btn-subject:focus {
  outline: none;
}

.btn-big {
  display: block;
  background: #000;
  color: #fff;
  background-color: green;
  border: none;
  padding: 10px;
  width: 50%;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 30px;
  font-family: inherit;
  transition: 0.5s;
}

.btn-big:hover {
  background-color: rgb(0, 182, 61);
}

.children-list {
  height: 500px;
  overflow-y: scroll;
}

.child-main {
  display: flex;
  width: 100%;
  
}
.child-right {
  width: 37%;
  background-color: rgba(255, 255, 255, 0.514);
  border-radius: 8px;
  padding: 10px;
  height: 600px;
}
.child-left {
  width: 63%;
  padding-right: 40px;
}

.child-details {
  width: 250px;
  min-height: 110px;
  margin: auto;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  text-align: left;
  margin-bottom: 20px;
  overflow: hidden;
}

.child-details:hover {
  background-color: rgba(255, 255, 255, 0.753);
  transition: all 0.2s;
}

.child-header, .profile-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.425);
  border-radius: 8px;
}



.popup-block {
  display: block;
  background-color: white;
  border-radius: 8px;
  position: absolute;
  width: 300px;
  padding: 60px;
  text-align: left;
  top: 50%;
  left: 50%; /* Added left property */
  transform: translate(-50%, -50%);
  z-index: 10000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  transition: 1s filter linear;
  
  z-index: 9999; /* make sure the overlay is on top of everything else */
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input[type="text"] {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control select {
  width: 60%;
  height: 100%;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control label {
  font-size: 22px;
}

.form-control-checkbox {
  margin: 10px auto;
}

.form-control input[type="checkbox"] {
  width: 40px;
  height: 18px;
  float: left;
}

.tutor-query-header {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.726);
}

.tutor-query-header button.current {
  background-color: white;
  border: 2px solid rgb(255, 0, 242);
  color: rgb(255, 0, 242);
}


.tutor-details-wrap {
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0.514);
}
.tutor-details {
  background-color: rgba(255, 255, 255, 0.699);
  border-radius: 8px;
  border: 1px solid rgb(109, 109, 109);
  margin: auto;
  max-width: 1200px;
  display: flex;
  height: 300px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.tutor-details-left {
  width: 40%;
}
.tutor-details-left h2{
  margin: 12px auto;
  font-size: 26px;
}
.tutor-details-left ul li{
  text-align: left;
  font-size: 18px;
}
.tutor-details-right {
  width: 60%;
  background-color: #9e9e9e3b;
}
.tutor-details-right-top {
  height:220px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: left;
}
.tutor-details-right-bot {
  height:40px;
  text-align: right;
  padding-right: 15px;
}

.tutorpov-availability {
  width: 1200px;
  position: absolute;
  border-radius: 8px;
  padding: 40px;
  top: 50%;
  left: 50%; /* Added left property */
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  z-index: 10000;
  display: flex;
}
.tutorpov-availability-left {
  width: 70%;
}
.tutorpov-availability-right {
  width: 30%;
}



.tutor-availability-main {
  min-width: 600px;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.tutor-availability-left{
  width: 70%;
}


.profile-details {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 10px 40px;
}

.profile-details h3 {
  font-size: 18px
}

.profile-popup {
  display: block;
  background-color: white;
  border-radius: 8px;
  position: absolute;
  max-width: 1200px;
  padding: 60px;
  text-align: left;
  top: 50%;
  left: 50%; /* Added left property */
  transform: translate(-50%, -50%);
  z-index: 10000; 
}


.subjlvl-details {
  width: 250px;
  min-height: 110px;
  margin: auto;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  text-align: left;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 10px;
  font-size: smaller;
}
.subjlvl-details h2 {
  font-weight: bold;
  margin: 10px;
}
.subjlvl-details h3 {
  font-weight: normal;
  margin: 10px;
}

.subjlvl-details-header {
  display: flex;
  justify-content: space-between;
}

.subjlvl-popup-block {
  display: block;
  background-color: white;
  border-radius: 8px;
  position: absolute;
  width: 400px;
  padding: 60px;
  text-align: left;
  top: 50%;
  left: 50%; /* Added left property */
  transform: translate(-50%, -50%);
  z-index: 10000;
}

.student-allocations {
  
  padding: 10px 0px;
  border-radius: 8px;
  overflow-y: scroll;
  margin-bottom: 5px;
  text-align: left;
  height: 80%;
}
.student-allocation {
  background-color: rgb(255, 255, 255);
  padding: 10px 10px;
  width: 90%;
  border-radius: 8px;
  border: 1px solid rgb(153, 153, 153);
  margin-bottom: 2px;
  margin-left: 2px;
  /* default is pending, red left border */
  border-left: 10px solid red; 
}
.student-allocation-approved {
  /* approved, green left border */
  border-left: 10px solid green; 
}
.student-allocation h3 {
  font-size: 22px;
  margin: 2px auto;
}
.student-allocation h4 {
  font-size: 18px;
  margin: 4px auto;
  font-weight: normal;
  font-style: italic;
}
.student-allocation p {
  font-size: 18px;
  margin: 4px auto;
  font-weight: normal;
}



.no-requests p {
  font-weight: bold;
  color: grey;
  padding: 90px 10px 80px 30px;
}


.request-details {
  background-color: rgba(219, 219, 219, 0.199);
  padding: 10px 10px;
  max-width: 360px;
  border-radius: 8px;
  border: 1px solid rgb(153, 153, 153);
  margin-bottom: 5px;
}
.request-details h3 {
  font-size: 22px;
  margin: 2px auto;
}
.request-details h4 {
  font-size: 18px;
  margin: 4px auto;
  font-weight: normal;
  font-style: italic;
}
.request-details p {
  font-size: 18px;
  margin: 4px auto;
  font-weight: normal;
}
.request-details-left {
  text-align: left;
}
.request-details-right {
  text-align: right;
}

.allocation-requests-header {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.726);
  justify-content: flex-end;
  text-align: right;
}

.blank-space p {
  font-weight: bold;
  color: grey;
  padding: 140px 20px;
  margin: 0;
}

.event-details {
  background-color: rgba(255, 255, 255, 0.692);
  border-radius: 8px;
  height: 350px;
  width: 380px;
  padding-top: 0px;
}

.event-details h2, .requestlist-main h2 {
  font-size: 28px;
}
.event-details h3 {
  font-size: 22px;
  font-weight: normal;
}

.event-details-header, .requestlist-header {
  background-color: rgba(128, 128, 128, 0.521);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.event-details-header h2, .requestlist-header h2 {
  font-weight: normal;
  margin: 2px auto;
}

.requestlist-main {
  margin-top: 30px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.507);
  max-width: 380px;
}

.requestlist-body {
  height: 320px;
  overflow-y: scroll;
}
.requestlist-body-empty {
  text-align: center;
}

/* site wide scroll bar ################################################################################################################################## */
/* scrollbar starts on line 31 */

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
/* Style for the label element */
.image-input-label {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-size: 100% 100%;
  background-position: center;
  cursor: pointer;
  border: 2px solid #ccc;
  border-radius: 50%;
}

/* Style for the preview div inside the label element */
.image-input-preview {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

/* Style for the input element */
.hidden-input {

  display: none;
  opacity: 0;
  cursor: pointer;
}


.icon-button {
  border: 0px;
  background-color: transparent;
  cursor: pointer
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #00013b; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #00eeff;
  background-color: white;
}
.sidenav a.current {
  color: #ffffff;
  background-color: rgb(0, 153, 255);
}

@media screen and (max-width: 1030px) {
  .tutor-availability-main {
    border-radius: 8px;
    display: block;
    min-width: 600px;
    padding: 20px;
  }
  .container {
    background-color: hsla(0,0%,100%,.753);
    border-radius: 5px;
    margin: 15px auto auto;
    max-height: 1400px;
    max-width: 1400px;
    min-height: 720px;
    padding: 30px;
    position: relative;
    text-align: center;
  }
  .tutor-availability-main .event-details, .tutor-availability-main .requestlist-main {
    margin: 30px auto;
  }
  .tutor-availability-left {
    width: 100%;
  }
}
