{% extends 'main/base.html' %}

{% block title %}
Profile
{% endblock %}

{% block content %}
    <h1>Welcome to your profile!</h1> 
    <div class="welcomeButtons">
        <h1>{{current_user}}'s Profile Summary</h1>
        <p>{{profile_summary}}</p>
        
        <form id="author-summary-form" method="POST">
            {% csrf_token %}
            <textarea name="new-summary"></textarea>
            <button type="submit" name="edit-summary" value="edit-summary">Edit Summary</button>
        </form>
    </div>
{% endblock %}