{% extends 'main/base.html' %}

{% block title %}
Timetable
{% endblock %}

{% block content %}
    <h1>Choose your available time!</h1> 
    <div class="welcomeButtons">
        {% for day, time in tdt_output.items %}
            <table>
                <tr>
                    <p>{{ day }}: {{ time|join:", " }}</p>
                </tr>
            </table>
       {% endfor %}
    </div>

    <div>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" value="add-dayntime">Add</button>
        </form>
    </div>
    <div>
        <h1>TIMETABLE</h1>
        {% for bslot in bslot_output.all %}
            <table>
                <tr>
                    <p>{{ bslot.day }} {{ bslot.start_time }} - {{ bslot.end_time }}, {{ bslot.subject_and_level.level }} {{ bslot.subject_and_level.subject }}, {{ bslot.student.name }}</p>
                </tr>
            </table>
       {% endfor %}
    </div>
{% endblock %}